* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body {
  font-family:'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.card  {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  border: 2px solid #afafaf;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #afafaf;
  margin-bottom: 1rem;

}

.loading {
  text-align: center;
  font-size: 1.5rem;
  color: steelblue;
  padding: 1rem 0;
}

.author-name {
  font-weight: 500;
}

.App-Layout {
  width: 100%;

}

.section-home,
.section-contact,
.section-author,
.section-about,
.section-product-details {
  min-height: 90vh;
}


.cards-center {
  width: 80vw;
  max-width: 1192px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
  column-gap: 2rem;
}
.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: self-start;
  padding: 1rem 0.5rem;
}

.price {
  justify-self: end;
}
.header-section {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem;
  background: #333;
  color: #fff;
}

.site-logo > a {
  color: #fff;
  text-decoration: none;
}

.card-link-wrapper {
  text-decoration: none;
}
.bg-light {
  background: rgba(0, 0, 0, 0.08);
  color: #1c2022;

}

.bg-dark {
  background: rgb(36, 40, 42);
  color: #DADADA;

}

.input-dark {
  color: #DADADA;
  background: rgb(36, 40, 42);

}

.input-light {
  background: rgba(0, 0, 0, 0.08);
}

.site-header-right {
  display: flex;
  gap: 30px;
}

.nav-bar > ul  {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav-bar > ul > li > a {
  color: #fff;
  text-decoration: none;
}

.Missing {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

.footer-copy-section {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 1.5rem;
  background: #2751a3;
  color: #fff;
}

.card-body {
  padding: 1.5rem;
}

.card-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0.5rem;
}

.card-author {
  justify-self: flex-end;
}
.card-category {
  text-transform: capitalize;
}

.search-area > input {
  width: 250px;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem;
  font-size: 1.2rem;
  border: none;

}

.dark {
  color: #DADADA;
  background: #1c2022;

}
